<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="styles/styles.css">
  <title>Skrilla - Discover your Spending Habits</title>
</head>
<body>
  <header>
    <h1>Skrilla</h1>
    <hgroup>
      <p>Discover your spending habits</p>
    </hgroup>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#"#>Mission</a></li>
        <li><a href="#">Our Team</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </nav>
  </header>
  <main>
  <section>
    <p>There's a pattern to your spending and we are here to help streamline, explore saving opportunities and tips.</p>
    <ul>
      <li>Discover my spending pattern for specific periods</li>
      <li>Detect and cut down impulse buying</li>
      <li>Explore personalized saving tips</li>
      <li>Set fun saving goals</li>
    </ul>
    <p>Your financial records into an actual spending pattern.</p>
    <p>Track your spending habits, minimise impluse buying and explore
    saving opportunities and tips.</p>
  </section>
  <section>
    <p>Mobile wallets supported by Skrilla</p>
    <ul>
      <li>T-Kash</li>
      <li>Airtel Money</li>
      <li>MPesa</li>
      <li>Banks</li>
    </ul>
  </section>
  </main>
  <footer>
    <p>© Copywright 2026. All rights reserved.</p>
    <ul>
      <li><a href="#">Privacy Notice</a></li>
    </ul>
  </footer>
</body>
</html>
